* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: purple;
  font-family: system-ui;
  color:white;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.game h1 {
  font-size: 5em;
  font-weight: bold;
}
.game button {
  border: none; border-radius: 8px;
  color:black;  font-size:20px;
  width:100%; max-width: 170px;
  background-color: white;
  transition: 0.3s ease;
  padding: 20px 40px;
  cursor: pointer;
}
.game button:hover {
  scale:1.03;
}

